[Unit]
Description=delegationonboardbot
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/git/delegationonboardbot
ExecStart=/root/git/delegationonboardbot/run-delegationonboardbot.sh
SyslogIdentifier=scot
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
